* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-image: url(../img/fundo-topo.jpg);
    text-align: center;
    padding: 10px 0;
}
header h1 {
    margin: 0;
    height: 84px;
}
nav {
    padding: 15px 0;
    text-align: center;
}
nav li {
    display: inline;
    background-image: url(../img/patinha-preta.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 25px;
    margin-right: 10px;
}
nav a {
    text-decoration: none;
    color: #000;
    transition: 0.3s;
    cursor: pointer;
}
nav a:hover { 
    color: #6DD432;
}
h2 {
    text-transform: uppercase;
    margin-bottom: 15px;
}
#ItemContato {
    background-image: none;
    padding-right: 0;
    margin-right: 0;
}
#produto .flex-conteiner {
    margin-top: 42px;
}
.fundo-verde {
    background-color: #bdff9c;
}
.conteiner {
    width: 900px;
    margin: 0 auto;
    padding: 56px 0;
}
.flex-conteiner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex-conteiner .col {
    width: 430px;
}
.produto {
    width: 233px;
}
.produto figure {
    border: solid 1px #c4c4c4;
    background-color: #fff;
    margin: 0 0 15px 0;
    padding: 0;
    text-align: center;
    height: 160px;
    line-height: 160px;
}
.produto figure img {
    vertical-align: middle;
}
.text-center {
    text-align: center;
}
.btn-pata {
    display: inline-block;
    padding: 10px 20px;
    border: solid 1px #91e467;
    background-color: #d2fbbd;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    
}